@import "tailwindcss";

*{
      scrollbar-width: auto;
   
      -ms-overflow-style:none ; /* Edge purane version */
}
::-webkit-scrollbar,
::-webkit-scrollbar{
       display: none; /*chrome safari opera */
} 

.playfair       { font-family: 'Playfair Display', serif;  }
  .dm-sans        { font-family: 'DM Sans', sans-serif;      }
  .orange-text-gradient {
    background: linear-gradient(135deg,#f97316,#f97316,#f97316);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
